/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

a:link {
	text-decoration: none;
  }

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
	font-family: "DM Sans";
}

.site-header__wrapper {
	max-width: 972px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 32px auto 0;
	align-items: center;
	line-height: 1;
}

.site-header__logo{
	font-weight: 700;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	color: #1E0E62;
}

.site-header__links{
	display: flex;
	justify-content: space-between;
	max-width: 352px;
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	color: #15143966;
}

.site-header__contact-button{
	background-color: #25DAC5;
	max-width: 100px;
	width:100%;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	color: #ffffff;
	border-radius: 25px;
	padding: 10px 15px;
}

.hero {
    padding-top: 164px;
}

.hero-wrapper {
	display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__title {
	font-size: 58px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -1px;
	text-align: center;
	color: #1E0E62;
	max-width: 714px;
}

.hero__subtitle {
	font-size: 25px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
	color: #15143966;
	max-width: 625px;
	margin-top: 32px;
}

.hero__button {
	border-radius: 100px;
	background-color: #E93A7D;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 59px;
	line-height: 60px;
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 0 15px;
}

.image-text {
	padding-top: 115px;
}

.image-text__title {
	text-align: center;
	font-size: 42px;
	font-weight: 700;
	line-height: 52px;
	letter-spacing: -0.40px;
	color: #1E0E62;
}

.image-text__subtitle {
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0px;
	color: #15143966;
}

.image-text-wrapper {
	max-width: 830px;
	width: 100%;
	margin: 0 auto 0;
}

.image-text__features {
	display: flex;
	justify-content: space-evenly;
	margin-top: 90px;
}

.image-text__picture {
	max-width: 600px;
	width: 100%;
}
.feature-wrapper {
	max-width: 475px;
	width: 100%;
	justify-content: space-evenly;
	flex-direction: column;
	display:flex;
}

.feature-title {
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: left;
	color: #1E0E62;
}

.feature-subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: left;
	color: #15143966;
}

.team__text-wrapper {
	max-width: 816px;
	width: 100%;
	margin: 0 auto 0;
	align-items: center;
	flex-direction: column;
	display: flex;
	margin-top: 124px;
}

.team__text-title {
	font-size: 42px;
	font-weight: 700;
	line-height: 52px;
	letter-spacing: -0.4000000059604645px;
	text-align: center;
	color: #1E0E62;
}

.team__text-subtitle {
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
	color: #15143966;
	margin-top: 20px;
}

.team__button {
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	color: #1E0E62;
	border: 2px solid #EBEAED;
    padding: 10px 25px;
    border-radius: 100px;
    margin-top: 47.2px;
}
.cards-wrapper {
	display: flex;
	justify-content: space-evenly;
}

.card-wrapper {
	max-width: 347px;
	width: 100%;
	border-radius: 10px;
	margin-top: 76.8px;
	
}

.team__member {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	border: 2px solid #EBEAED;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px; 
}

.team__member-media {
	margin-top: 50px;
}

.team__member-name {
	margin-top: 28.8px;
	max-width: 100px;
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
	color: #1E0E62;
}

.team__member-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 2px;
	text-align: center;
	max-width: 100px;
	width: 100%;
	color: #15143966;
	margin-bottom: 10px;
}

.team__member-social-wrapper {
	border: 2px solid #EBEAED;
	display: flex;
	justify-content: space-around;
}

.team__member-social {
	padding-top: 16.8px;
	padding-bottom: 10px;
	width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
	border-right: 2px solid #EBEAED;
}

.team__member-social:last-child {
	border-right: none;
}

